body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fondo.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poetsen One', sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.zeus {
    width: 100%;
}

.text_container {
    display: flex;
    flex-direction: column;
    background-color: #f8e2b5;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    max-width: 700px;
    height: 450px;
}

.fieldset {
    background-color: #a3ab95;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 10px;
}

.legend {
    text-align: center;
    font-size: 2em;
}

.textarea {
    resize: none;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    background-color: transparent;
    border-radius: 10px;
    overflow: auto;
    font-size: 1em;
}

.button {
    margin: 10px 0px;
    padding: 10px;
    font-size: 1em;
}

/* Estilos adaptativos para celulares */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .text_container {
        width: 95%;
        height: auto;
    }

    .fieldset {
        width: 100%;
        height: auto;
    }

    .legend {
        font-size: 1.5em;
    }

    .textarea {
        min-height: 200px;
    }
}
